
:root {
  --orange: #EF6730;
  --grey-darkest: #11122B;
  --grey-dark: #45465D;
  --grey: #CCCCCC;
  --grey-light: #D8D9F0;
  --grey-lightest: #E9EBF0;
}
html, .root {
  font-size: 16px;
  line-height: 21px;
}
body, .article {
  font-size: 1em;
  line-height: 1.3125em;
  color: var(--grey-dark);
}

h1, .h1 {
  font-weight: 700;
  font-size: 4.25em;
  line-height: 1.23529412em;
  margin-top: 0.30882353em;
  margin-bottom: 0.61764706em;
  color: var(--grey-darkest)
}
h2, .h2 {
  color: var(--grey-darkest);
  font-weight: 500;
  font-size: 2.625em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h3, .h3 {
  font-weight: 300;
  font-size: 1.625em;
  line-height: 1.61538462em;
  margin-top: 0.80769231em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.3125em;
  margin-top: 1.3125em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.3125em;
  margin-top: 1.3125em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.3125em;
  line-height: 21px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  font-size: 14px;
  color:var(--orange);
  font-weight: 500;
}


.container  {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: left;
    align-items: center;
    min-width: 240px;
    min-height: 160px;
    vertical-align: middle;
  }
  
  .number {
    height: 36px;
    text-align: center;
    vertical-align: middle;
    width: 36px;
    background-color: var(--grey);
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    line-height: 2;
    font-weight: 600;

}

.cta-text {
    text-align: left;
    justify-content:center;
}


